<div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" v-for="metric in shownMetrics">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" :id="'heading'+$index">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
                        {{metric.label}}
                    </a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse" :class="{'in':$index==0}" role="tabpanel" aria-labelledby="heading{{$index}}">
                <div class="panel-body">
                    {{metric.data}}
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>