<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    My Event
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="row">
                    <event-container v-for="event in myEvents" :event="event"></event-container>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Upcoming Events
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="row">
                    <div v-for="event in publicEvents" class="col-xs-6 col-sm-4 col-md-3">
                        <h4>{{event.name}}</h4>
                        <p>{{event.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Past Events
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="row">
                    <div v-for="event in publicEvents" class="col-xs-6 col-sm-4 col-md-3">
                        <h4>{{event.name}}</h4>
                        <p>{{event.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="eventInviteModal" style="color:black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Invite Friends</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="searchName">
                            <span class="input-group-addon" @click.prevent="searchUser">search</span>
                        </div>
                    </form>
                    <ul class="list-unstyled" style="margin-top:10px" v-show="searchUserResult.length>0">
                        <li v-for="user in searchUserResult">
                            <p>
                                <img :src="user.avatar"  width="30px" style="border-radius: 15px" alt="">
                                {{user.name}}
                                <button class="btn btn-xs pull-right"
                                        :class="{'btn-info':!isUserInvited(user.id), 'btn-warning':isUserInvited(user.id)}"
                                @click="inviteUser(user.id)">{{inviteButtonText | showButtonText user.id}}</button>
                            </p>
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>