$topOffsetSm: 60;
$topOffsetMd: 80;

div.main.container{
  position: relative;
  top:$topOffsetMd+px;
}

div.left-side-menu {
  position: fixed;
  top:$topOffsetMd+px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.5);
  li{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {

  div.stream-container {
    margin-bottom: 90px;
  }

  div.main.container, div.left-side-menu{
    top:$topOffsetSm+px;
  }

}

/* Make it a marquee */
.marquee {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;
  background: rgba(0,0,0,0.5);
  margin-left:-15px;
  padding: 5px 0;
  position:fixed;
  bottom: 10px;
}

.marquee:hover {
  animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
  0%   { text-indent: 100% }
  100% { text-indent: -100% }
}