<div class="col-md-6 eventContainer" style="overflow: hidden; text-shadow: grey 2px 2px 2px" >
    <div class="row" >
        <a v-link="{name:'eventDetail', params:{eventId:event.id}}" style="position:absolute">
            <img :src="getEventImage"
                 alt="" class="img-responsive">
        </a>
        <div class="col-xs-8 pull-right">
            <a v-link="{name:'eventDetail', params:{eventId:event.id}}" style="color:white">
                <h4>{{event.name}}</h4>
            </a>
            <p>{{event.location}}</p>
            <ul class="list-inline">
                <li>Going</li>
                <li>Maybe</li>
                <li>Pending</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div class="btn-group btn-group-justified" role="group" aria-label="..." style="margin-bottom: 10px">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-xs" @click="clickInvite">Invite</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default btn-xs" @click="clickEdit">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>